/* Make a line under title */
.hover-underline {
    position: relative;
  }
  
  .hover-underline::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 0.25rem;
    background: var(--subColor);
    border-radius: 0.05rem;
    /* position of the underline */
    bottom: -5%;
    left: 15%;
    transform: scale(0);
    transition: transform 0.5s;
  }
  
  .hover-underline:hover:after {
    transform: scale(1);
  }

/* Make a border around in hover */
.hover-link-border {
  position: relative;
}

.hover-link-border::after {
  /* boder from left and right */
  content: "";
  position: absolute;
  border-width: 0 0.2rem;
  border-radius: 10%;
  border-color: var(--subColor);
  border-style: solid;
  height: 100%;
  width: 100%;
  top: 0;
  left: -0.15rem;
  transition: transform 0.3s;
  transform: scaleY(0);
}

.hover-link-border:hover:after {
  transform: scaleY(1);
}

.hover-link-border::before {
  /* border from top and bottom */
  content: "";
  position: absolute;
  border-width: 0.2rem 0;
  border-radius: 10%;
  border-color: var(--subColor);
  border-style: solid;
  height: 100%;
  width: 100%;
  top: -0.15rem;
  left: 0;
  transition: transform 0.3s;
  transform: scaleX(0);
}

.hover-link-border:hover:before {
  transform: scaleX(1);
  transition-delay: 0.3s;
}

/* Make a border around in hover (cyrcle) */
.hover-cyrcle-border {
  position: relative;
}

.hover-cyrcle-border::after {
  /* boder from left and right */
  content: "";
  position: absolute;
  border-width: 0 0.5rem;
  border-radius: 50%;
  border-color: var(--subColor);
  border-style: solid;
  height: 106%;
  width: 106%;
  top: -3%;
  left: -3%;
  transition: transform 0.3s;
  transform: scaleY(0);
}

.hover-cyrcle-border:hover:after {
  transform: scaleY(1);
}

/* Transform rotate */
.TRotateDiv {
  transform: rotateY(0deg);
}

.TRotateDiv div:first-child {
  transition: transform 1s;
}

.TRotateDiv:hover div:first-child {
  transform: rotateY(360deg);
}

/* Change border thikness */
.changeborder {
  border: 30px solid var(--subColor);
  transition: border 0.2s;
}

.changeborder:hover {
  border-width: 0;
}

/* Fade in */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}